{% extends "base.html" %}
{% load static %}
{% load social_share %}
{% block body %}
<div class="container-fluid login-content">
    <div class="login-box">



        <h2 class="text-white text-center py-2 f-400">Sorry! </h2>

        <h5 class="text-white text-center py-2 f-400">No user found with that user name! </h5>

        <p class="text-center text-warning font-bold">
            Return Back to facebook and click on the link that your friend shared
        </p>

    </div>
</div>




{% endblock body %}